
:host {
  display: block;
}

paper-menu iron-icon {
  margin-right: 33px;
  opacity: 0.54;
}

paper-menu div, paper-menu c2m-menu-item {
  text-decoration: none;
  color: var(--menu-link-color);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  min-height: 48px;
  padding: 0 16px;
}

.list-panel {
  --paper-header-panel-standard-container: {
    border-right: 1px solid #ccc;
  };
}

.main-drawer-panel:not([narrow]) [list-toggle] {
  display: none;
}
